.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form:hover {
  background-color: aqua;
}

.btn {
  border-radius: 10px;
  border-color: blue;
  background-color: aqua;
  color: blueviolet;
}
